<!DOCTYPE html>
<html lang="en">
{% block title %}
    <head>
        <meta charset="UTF-8">

        <title>Snippets Home</title>

    </head>
{% endblock %}
<body>
    {% block sidenav %}
    <nav>
        <button class="openbtn" onclick="openNav()">Menu</button>
    </nav>
        {%  load static %}
        <link href="{% static 'css/snippetsStyle.css'%}" rel="stylesheet" media="screen">
        <script src="{% static 'js/snippets.js' %}"></script>

        <div id="mySidenav" class="sidenav" >
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="dropdown">
                    <a class="dropbtn" onclick="updateMenu({% url "snippets:GetLangs" %}, 'languages')" >Language</a>
                    <div class="dropdown-content" id="languages">
                    </div>
            </div>
            <div class="dropdown">
                    <a class="dropbtn" onclick="updateMenu({% url "snippets:GetPacks" %}, 'packages')">Package</a>
                    <div class="dropdown-content" id="packages" ></div>
            </div>
            <div class="dropdown">
                <a class="dropbtn" onclick="updateMenu({% url 'snippets:GetApps' %}, 'applications')">Application</a>
                    <div class="dropdown-content" id="applications"></div>
            </div>
            <div class="homeBtn" id="homeBtn">
                <a class="homeBtn" href="{% url 'snippets:Home' %}">Snippets Home </a>
            </div>
            <div class="addSnip">
                <a class="addSnip" href="{% url 'snippets:AddSnip' %}">Add Snippet </a>
            </div>
        </div>
    {% endblock %}
    {% block snippets-main %}
    <div id="main">

        <div class="card">
            {% for snippet in recent_snippets %}
                <div>
                    <h3><a href="{% url 'snippets:Detail' snippet.pk %}">{{ snippet.name }}</a></h3>
                    <P> {{ snippet.summary}} </P>
                    <div class="snippet-info-block">
                        <small>
                            Created: {{ snippet.date_created }}
                            <a href="{% url 'snippets:EditSnip' snippet.pk %}  ">   edit</a>
                            <a href="{% url 'snippets:DelSnip' snippet.pk %}  ">   delete</a>
                            <br>
                            {% for package in snippet.package.all %}
                                |<a class="small-a" href="#">{{ package }}</a>
                            {% endfor %}
                                |
                                <br>
                        </small>
                    </div>
                    <p class="snippet-code"> {{ snippet.code | safe }} </p>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}


</body>

</html>